@import "../../style/variables.scss";

.delivery-form {
  padding: 20px 16px;
  background: $white-color;
  border-radius: 12px;
}
.input-wrapper {
  background: $light-color;
  border-radius: 8px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-bottom: $gap-size;
  position: relative;
}
.form-country {
  background-color: $light-color;
  width: 100%;
  padding: 0 16px 0 16px;
}
.select-title {
  position: absolute;
  margin-left: $gap-size;
  color: $dark-grey-color;
  left: 0;
  top: 5px;
  z-index: 1;
  font-size: $font-size;
}
.select-title:after {
  content: "";
  width: 5px;
  height: 20px;
  background-color: $light-color;
  top: $gap-size;
  right: -160px;
  position: absolute;
}
.input-title {
  margin-left: $gap-size;
}
.weight-input {
  width: 100%;
  background-color: $light-color;
  padding-left: $gap-size;
}
.range {
  margin-bottom: $gap-size;
}
.slider-weight {
  display: flex;
  justify-content: space-between;
}
.slider-text {
  font-size: $font-size;
  font-style: normal;
  font-weight: 400;
  color: $grey-color;
}
.accent-color {
  color: $grey-color;
}
.total-price-title {
  color: $dark-grey-color;
  font-size: $font-size;
  margin-bottom: 8px;
}
.total-price-value {
  font-size: 32px;
  font-weight: 500;
  color: $black-color;
  margin-bottom: $gap-size;
}
.total-price-text {
  color: $grey-color;
  font-size: $font-size;
  margin-bottom: $gap-size;
}
.price-presets-btn {
  color: $dark-grey-color;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid $grey-color;
  margin-right: 8px;
  margin-bottom: 8px;
  background-color: $white-color;
}
.price-presets-btn:nth-child(2) {
  margin-right: 6px;
}
.price-presets-btn:nth-child(3) {
  margin-right: 0px;
}
.active-color {
  border: 1px solid $orange-color;
  color: $orange-color;
}
input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  height: 3px;
  background: red;
  background: #e2e8f0;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 32px;
  height: 32px;
  background: $white-color;
  border-radius: 50%;
  border: 4px solid $orange-color;
  cursor: pointer;
}
input::-moz-range-progress {
  background: $orange-color;
}
